{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Book Event{% endblock title %}

{% block content %}
    
<div class="jumbotron ">
<div class="card m-5">
  <h5 class="card-header">Book Event</h5>
  <div class="card-body">
    <p class="card-text">
      Current available seats : {{event.seats}}
        <form action="{% url 'event-book' event.id %}" method="POST" >
            {% csrf_token %}
            <input type="number" name="ticket" min="1" max={{event.seats}} class="numberinput form-control">
            <br>
            <input type="submit" value="Create" class="btn btn-outline-success">
        </form>
    </p>
  </div>
</div>
</div>
{% endblock content %}
