{% extends "base.html" %}

{% block content %}
<div class="container p-5">
  <div class="container mt-5">
    <h2>My Events</h2>
  </div>
  <hr class="m-3">
  <div class="card">
    <div class="table-responsive">
      <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Event</th>
          <th scope="col">Info</th>
          <th scope="col">Location</th>
          <th scope="col">Time</th>
          <th scope="col">Event</th>
          <th scope="col">Seats</th>
          <th scope="col">Update</th>
          <th scope="col">View</th>
        </tr>
      </thead>
      <tbody>
        {%for event in events%}
        <tr>
          <td>{{event.title}}</td>
          <td>{{event.description}}</td>
          <td>{{event.location}}</td>
          <td>{{event.date}}</td>
          <td>{{event.time}}</td>
          <td>{{event.seats}}</td>
          <td><a href="{% url 'event-update' event.id %}" class="btn btn-outline-primary ">Update</a></td>
          <td> <a href="{% url 'event-detail' event.id %}" class="btn btn-outline-dark">View</a></td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
    </div>
  </div>

    <div class="container mt-5">
      <h2>My Booked Events</h2>
    </div>
    <hr class="m-3">


    <div class="card">
    <div class="table-responsive">
      <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Event</th>
          <th scope="col">Info</th>
          <th scope="col">Location</th>
          <th scope="col">Time</th>
          <th scope="col">Event</th>
          <th scope="col">Tickets</th>
          <th scope="col">View</th>
        </tr>
      </thead>
      <tbody>
        {%for booked in booked%}
        <tr>
          <td>{{booked.event.title}}</td>
          <td>{{booked.event.description}}</td>
          <td>{{booked.event.location}}</td>
          <td>{{booked.event.date}}</td>
          <td>{{booked.event.time}}</td>
          <td>{{booked.ticket}}</td>
          <td> <a href="{% url 'event-detail' booked.event.id %}" class="btn btn-outline-dark">View</a></td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
    </div>
  </div>
</div>


{% endblock %}