{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Create Event{% endblock title %}

{% block content %}
    
<div class="jumbotron ">
  <div class="card m-5">
    <h5 class="card-header">Update Event</h5>
    <div class="card-body">
      <p class="card-text">
          <form action="{% url 'event-update' event.id %}" method="POST" >
              {% csrf_token %}
              {{form|crispy}}
              <input type="submit" value="Create" class="btn btn-outline-success">
          </form>
      </p>
    </div>
  </div>
</div>
{% endblock content %}
