{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Event Details{% endblock title %}

{% block content %}
    

<div class="jumbotron ">
  <div class="card m-5">
    <h2 class="card-header">Event Details</h2>
    <div class="card-body">
      <p class="card-text">
         <h3>{{event.title}}</h3>
         <hr class="m-2">
            <p>{{event.description}}</p>
            <p>Location: {{event.location}}</p>
            <p> Date: {{event.date}} Time:{{event.time}}</p>
            <p>No. of seats left: {{event.seats}}</p>
      </p>
      {% if request.user == event.user %}
      <hr class="m-3">
      <div class="card">
        <div class="table-responsive">
          <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Attendee</th>
            </tr>
          </thead>
          <tbody>
            {%for booker in attendees%}
            <tr>
              <td>{{booker.username}}</td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
        </div>
      </div>
      <hr class="m-3">

      <a href="{% url 'event-update' event.id %}" class="btn btn-outline-primary ">Update</a>
      {% endif %}

      {% if not event.seats == 0 %}
      <a href="{% url 'event-book' event.id %}" class="btn btn-outline-success ">Book</a>
      {%else%}
      <a href="{% url 'event-book' event.id %}" class="btn btn-outline-secondary disabled ">Full</a>
      {% endif %}

    </div>
  </div>
</div>
{% endblock content %}
